@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 0.875rem;
  line-height: 1.6;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-weight: bold;
}


/* Phone screen */

@media (max-width: 480px) {
  html {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }
}

.source-serif-4 {
  font-family: "Source Serif 4", serif;
}

.form-control {
  @apply flex flex-col items-start mb-3;
}

@layer components {
  /* Font className 
  *  font size, font weight, font color
  */
  .title {
    @apply text-3xl font-bold;
  }

  .heading-md {
    /* was heading-lg*/
    @apply text-2xl font-semibold;
  }

  .heading-sm {
    /* was heading-md*/
    @apply text-xl font-semibold;
  }

  .label {
    @apply text-base font-medium mb-1 text-gray-700;
  }

  .content-base {
    @apply text-base font-medium;
  }

  .content-sm {
    @apply text-sm;
  }

  .textarea {
    @apply flex min-h-[80px] w-full rounded-md border bg-white px-3 py-2 text-sm ring-offset-white placeholder:text-gray-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-600 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 disabled:bg-gray-50;
  }

  .text-error {
    @apply text-red-500 text-sm mt-1;
  }

  .input {
    @apply flex h-10 w-full rounded-md border bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-600 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-70 disabled:bg-gray-50;
  }

  .primary-btn {
    @apply w-full h-10 px-4 py-2 bg-red-800 text-gray-50 hover:bg-red-800/90 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-600 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
